<div class="header-wrapper">
    <header>
        <!-- logo and description -->
        {% if page.layout != "post" %}
        <div class="head-area">
            <h1 class="site-logo">
                <!--
                <a href="/"><img src="/assets/img/Rationalist_Directory_Image_molx4s.png"
                    class="logo" /></a>
                -->
            </h1>
            <h3 class="site-description">{{ site.description }}</h3>
        </div>
        {% endif %}
        <nav class="site-nav">
            <div class="left-nav">
                <div class="ui secondary menu inverted">
                    <!--<a class="item" href="/">
                        Home
                    </a> -->
                </div>
            </div>
            <div class="right-nav">
                <div class="ui secondary menu inverted">
                    <!--<a class="item" href="/about.html">
                        About
                    </a>-->
                </div>
            </div>
        </nav>
    </header>
</div>
