---
layout: default
---

<!-- one, two and then four card rows -->
<div class="ui centered grid stackable">
    {% assign counter = 0 %}
    {% for block in site.blocks %}
        {% assign counter = counter | plus: 1 %}
        {% if counter == 1 %}
            <div class="eight wide column">
                {% include card.html %}
            </div>
        {% elsif counter == 2 %}
            <div class="eight wide column">
                {% include card.html %}
            </div>
        {% else %}
        {% elsif counter <= 10 %}
            <div class="four wide column">
                {% include card.html %}
            </div>
        {% endif %}
    {% endfor %}
</div>
